<h1>Enter your monthly income</h1>

<form action="/set_income" method="post">
  <label>Monthly income:</label>
  <input type="text" name="income" id="income">
  <button type="submit">Submit</button>
</form>