# --------------------
# OS
# --------------------
.DS_Store

# --------------------
# Editor
# --------------------
.vscode/
.idea/

# --------------------
# Node / JavaScript
# --------------------
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# --------------------
# Ruby
# --------------------
.bundle/
vendor/bundle/
*.gem
*.rbc

# --------------------
# Environment / secrets
# --------------------
.env
.env.*

# --------------------
# Build / cache
# --------------------
dist/
build/
.cache/
.tmp/

# --------------------
# Logs
# --------------------
*.log
