<html>
  <title>CMS</title>
  <head>
  <link href="/stylesheet.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session[:message] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>