<h1 class="text-center">Enter Your Monthly Income</h1>

<div class="container">
  <form action="/set_income" method="post">
    <div class="mb-3">
      <label for="income" class="form-label">Monthly Income:</label>
      <input type="text" name="income" id="income" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success w-100">Submit</button>
    <a href="/home">Cancel</a>
  </form>
</div>