<div class="container">
  <h1 class="text-center">Sign Up</h1>

  <form action="/sign_up" method="post" class="p-4 border rounded shadow-sm bg-light">
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" name="username" id="username" class="form-control">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" name="password" id="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-success w-100">Sign Up</button>
  </form>

  <p class="text-center mt-3">Have an account? <a href="/">Log in here</a></p>
</div>