body {
  background-color: #a19123;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#app {
  width: 540px;
  margin: 200px auto;
}

.timer {
  font-size: 78px;
  font-weight: bold;
  margin-left: 10px;
}

.timer p {
  margin: 0 0 20px 0;
  white-space: nowrap;

}

.timer span {
  margin: 0;
}

.timer .sep {
  margin: 0 10px;
}

div .controls {
  width: 220px;
  margin: 0 auto;
}

.controls button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
}

.toggle {
  margin-right: 20px;
}

button:hover {
  background-color: #9a904a;
}

